# SSO Server Configuration
SSO_SERVER_URL=http://client.raoncorp.com:8080/sso/api/v1
NEXT_PUBLIC_SSO_SERVER_URL=http://client.raoncorp.com:8080/sso/api/v1

# Site Configuration
SITE_ID=SITE_A
SITE_SECRET=your_site_secret_here
SITE_NAME=Your Site Name
SITE_COLOR=#E74C3C
SITE_PORT=3000

# Base URL for this site
NEXT_PUBLIC_BASE_URL=http://localhost:5000
